body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
}
#apps{
    background-color: aqua;
}
#mycarousel{
    background-color: red;
}
#mycarousel img{
    height: 300px;
    margin-top: 35px;
}
